<h1>Resolución ecuaciones de segundo grado</h1>

<div>
  <h2>Introduce datos</h2>
  <div>
    <table style="width:50%">
      <tr>

        <td><input type="number" [(ngModel)]="coeficientes.grado2"> <span>x</span><sup>2</sup>+</td>
        <td><input type="number" [(ngModel)]="coeficientes.grado1">x+</td>
        <td><input type="number" [(ngModel)]="coeficientes.independiente"></td>
        <td>=0</td>
      </tr>
    </table>
  </div>
</div>

<div>
  <h2>{{advertencia}}</h2>
</div>
<div>
  <button type="button" (click)="calcular()">Resolver</button>
</div>
<div>
  <table style="width:50%">
    <tr>
      <td>{{solucion.solucion1}}</td>
      <td>{{solucion.solucion2}}</td>
    </tr>
  </table>
</div>